<mat-toolbar color="accent">
    <button mat-button (click)="toggleSidenav.emit()" class="sidenav-toggle">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Invoice Builder</span>

    <button
        class="menu-bar"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
    >
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>
</mat-toolbar>
